body{
    width:100%;
    margin:auto;
    min-width:600px;
    max-width:2000px
}

.pokedexFondo {
    display: flex;
    flex-direction: row;
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.abierta{
    background-image: url("../assets/cosa.jpg");
    visibility:hidden;
}

.cerrada{
    background-image:none;
}

.mitad1 {
    background-image: url("../assets/PokedexL.png");
    width: 960px;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex:1;
}

.mitad2 {
    background-image: url("../assets/PokedexR.png");
    width: 960px;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;

}

.fondo{
    background-image: url("../assets/Pantallapokedex.png");
    display:none;
    width: 1920px;
    height: 1080px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    flex:1;
}

.ventanaPokemon{
    background-image: url("../assets/ventanaPokemon.png");
    display:none;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 100px;
    left: 100px;
    background-position: top left;
    flex: 1;
}

.imgListado{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 50px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado{
    position:absolute;
    top: 45px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.imgListado2{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 130px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado2{
    position:absolute;
    top: 185px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.imgListado3{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 210px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado3{
    position:absolute;
    top: 325px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.imgListado4{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 290px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado4{
    position:absolute;
    top: 465px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.imgListado5{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 370px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado5{
    position:absolute;
    top: 605px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.imgListado6{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 450px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado6{
    position:absolute;
    top: 745px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.imgListado7{
    background-image: url("../assets/mockup_listado.png");
    display:none;
    width: 731px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 530px;
    left: 30px;
    background-position: top left;
    flex: 1;
}

.txtListado7{
    position:absolute;
    top: 885px;
    left: 20px;
    font-family: Arial;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
/*.textoListado{
    display:none;
    width: 715px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 2px;
    left: 2px;
    background-position: top left;
    flex: 1;
}*/


.imagenPokemon{
    display:none;
    width: 256px;
    height: 256px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 10px;
    left: 10px;
    background-position: top left;
    flex: 1;
}

.infoPokemon{
    display:none;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 400px;
    left: 100px;
    background-position: top left;
    flex: 1;
}

