<?xml version="1.0" encoding="UTF-8"?>
<configuracion>
<filtros>
    <filtroFondo>
        <valor>grayscale(1)</valor>
        <texto>Escala de grises</texto>
    </filtroFondo>
     <filtroFondo>
        <valor>saturate(8)</valor>
        <texto>Saturacion</texto>
    </filtroFondo>
    <filtroFondo>
        <valor>sepia(1)</valor>
        <texto>Sepia</texto>
    </filtroFondo>
    <filtroFondo>
        <valor>invert(1)</valor>
        <texto>Negativo</texto>
    </filtroFondo>
    <filtroFondo>
        <valor>hue-rotate(90deg)</valor>
        <texto>Cambio de tono</texto>
    </filtroFondo>
</filtros>
<fuentes>
    <fuente>
        <valor>"Lucida Console"</valor>
        <texto>Lucida</texto>
    </fuente>
    <fuente>
        <valor>"Times New Roman"</valor>
        <texto>Times New Roman</texto>
    </fuente>
    <fuente>
        <valor>"Comic Sans MS"</valor>
        <texto>La mejor</texto>
    </fuente>
</fuentes>
    
    
</configuracion>